<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <style>
        .user-header {
            position: fixed;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .user-header h2 {
            margin: 0;
            font-size: 1.2em;
        }

        .user-header form {
            margin: 0;
        }
    </style>
</head>

<body>

<div class="user-header" th:fragment="header-fragment">
    <h2><span th:text="${user.login}"></span></h2>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</div>



<div class="container">

    <form th:action="@{/search/find}" method="post" class="search-form">
        <div class="form-group">
            <label for="name">Название города:</label>
            <input type="text" id="name" name="name" placeholder="Введите город" th:value="${location?.name}" required>
        </div>
        <button type="submit">Найти</button>
    </form>
</div>
</body>
</html>


