<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

    <div th:if="${isLoggedIn}">
        <h2> Добро пожаловать на свою страницу, <span th:text="${user.login}"></span></h2>
        <div th:include="header"> </div>

        <form th:action="@{/}" method="post" th:object="${location}">

            <div>
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="Введите название города" th:field="*{name}" required>
            </div>

            <button type="submit">Поиск</button>

        </form>

        <h3>Список погод:</h3>

        <div th:each="weather : ${weathers}">
            <p>Название: <span th:text="${weather.name}"></span></p>
            <p>Страна: <span th:text="${weather.country}"></span></p>
            <p>Температура: <span th:text="${weather.temp}"></span></p>
            <p>Описание: <span th:text="${weather.description}"></span></p>
            <p>Влажость: <span th:text="${weather.humidity}"></span></p>
            <hr>
        </div>



    </div>


    <div th:unless="${isLoggedIn}">

        <h1>Вы на главной странице!</h1>
             <div>
                 <a th:href="@{/sign-in}">Вход</a>
                    <br><br>
                 <a th:href="@{/sign-up}">Регистрация</a>
             </div>

    </div>


</body>

</html>