<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

    <div th:if="${isLoggedIn}">
        <h2> Добро пожаловать на свою страницу, <span th:text="${user.login}"></span></h2>
        <div th:include="header"> </div>

        <div th:if="${locationExist}" style="color: red">
             <p th:text="${locationExist}">Локация уже существует</p>
        </div>

        <div th:if="${locationNotFound}" style="color: red">
            <p th:text="${locationNotFound}">Локация не найдена</p>
        </div>

        <div th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
        </div>

        <h3>Список погод:</h3>

        <div th:each="weather : ${weathers}">
            <p>Название: <span th:text="${weather.name}"></span></p>
            <p>Страна: <span th:text="${weather.country}"></span></p>
            <p>Температура: <span th:text="${weather.getTempCelsiusRounded()}"></span>°C</p>
            <p>Описание: <span th:text="${weather.description}"></span></p>
            <p>Влажость: <span th:text="${weather.humidity}"></span></p>

            <form th:action="@{/}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="name" th:value="${weather.name()}">
                <input type="hidden" name="lat" th:value="${weather.lat()}">
                <input type="hidden" name="lon" th:value="${weather.lon()}">
                <input type="hidden" name="country" th:value="${weather.country()}">
                <input type="hidden" name="temp" th:value="${weather.getTempCelsiusRounded()}">
                <input type="hidden" name="description" th:value="${weather.description()}">
                <input type="hidden" name="humidity" th:value="${weather.humidity()}">

                <button type="submit">Удалить локацию</button>
            </form>

            <hr>
        </div>

    </div>


    <div th:unless="${isLoggedIn}">

        <h1>Вы на главной странице!</h1>
             <div>
                 <a th:href="@{/sign-in}">Вход</a>
                    <br><br>
                 <a th:href="@{/sign-up}">Регистрация</a>
             </div>

    </div>


</body>

</html>