<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
  <h2>Список локаций</h2>

    <div th:each="location : ${locations}">
        <h3 th:text="${location.name}"></h3>
        <p>Страна: <span th:text="${location.country}"></span></p>
        <p>Широта: <span th:text="${location.lat}"></span></p>
        <p>Долгота: <span th:text="${location.lon}"></span></p>
        <p>Регион: <span th:text="${location.state}"></span></p>

        <form th:action="@{/search}" method="post">
            <input type="hidden" name="name" th:value="${location.name}">
            <input type="hidden" name="country" th:value="${location.country}">
            <input type="hidden" name="lat" th:value="${location.lat}">
            <input type="hidden" name="lon" th:value="${location.lon}">
            <input type="hidden" name="state" th:value="${location.state}">

            <button type="submit">Добавить</button>
        </form>



        <hr>
    </div>

</body>
</html>