<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Здесь вы можете зарегестрироваться</h1>

<form th:action="@{/sign-up}" method="post" th:object="${user}">

    <div>
        <label for="username">Login:</label>
        <input type="text" id="username" th:field="*{login}" required>
        <small style="color: #666; font-size: 12px;">The name must be between 3 and 30 characters long, Russian or English letters only</small>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <small style="color: #666; font-size: 12px;">The password must be between 3 and 30 characters long</small>
    </div>

    <div>
        <label for="confirmPassword">Repeat password:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
    </div>

    <button type="submit">Зарегистрироваться</button>

</form>

    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>

    <div th:if="${#fields.hasErrors('passwordsMatch')}">
        <span th:errors="*{passwordsMatch}" class="error"></span>
    </div>


    <p>Уже есть аккаунт? <a th:href="@{/sign-in}">Войдите</a></p>
    <a th:href="@{/}">Вернуться на главную страницу</a>

</body>

</html>