<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h1>Здесь вы можете войти на свою страницу</h1>

<form th:action="@{/sign-in}" method="post">

    <div>
        <label for="username">Login:</label>
        <input type="text" id="username" name="username" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>


    <button type="submit">Войти</button>

</form>

    <p>Нет аккаунта? <a th:href="@{sign-up}">Зарегестрируйтесь</a></p>
    <a th:href="@{/}">Вернуться на главную страницу</a>

</body>
</html>