<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<h1>Здесь вы можете войти на свою страницу</h1>

<form th:action="@{/sign-in}" method="post" th:object="${user}">

    <div>
        <label for="username">Login:</label>
        <input type="text" id="username" th:field="*{login}" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>


    <button type="submit">Войти</button>

</form>

<div th:if="${authorizeError}" style="color: red">
    <p th:text="${authorizeError}">Ошибка аутентификации</p>
</div>


<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>

    <p>Нет аккаунта? <a th:href="@{sign-up}">Зарегистрируйтесь</a></p>
    <a th:href="@{/}">Вернуться на главную страницу</a>

</body>
</html>