<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Здесь вы можете зарегестрироваться</h1>

<form th:action="@{/sign-up}" method="post" th:object="${user}">

    <div>
        <label for="username">Login:</label>
        <input type="text" id="username" th:field="*{login}" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>

    <div>
        <label for="confirmPassword">Repeat password:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
    </div>

    <button type="submit">Зарегистрироваться</button>

</form>

    <p>Уже есть аккаунт? <a th:href="@{/sign-in}">Войдите</a></p>
    <a th:href="@{/}">Вернуться на главную страницу</a>

</body>

</html>